# Ignore files larger than 10 MB
*.log
*.csv
*.mp4
*.zip
*.tar.gz
*.tar
*.pth
*.h5
*.npy
*.bin
*.iso
*.dmg

# Add additional file types if needed
data/
model_bin/
results/
code/imagenet-autoencoder/results/
