# Ignore files larger than 10 MB
*.log
*.csv
*.mp4
*.zip
*.tar.gz
*.tar
*.pth
*.h5
*.npy
*.bin
*.iso
*.dmg

# Ignore Mac OS system files
.DS_Store

# Add additional file types if needed
data/
model_bin/
results/
code/imagenet-autoencoder/results/

#specific file
code/test_1/list/imagenet_full_train_list.txt
